body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filecontrol-container
{
  max-width: 500px;
}

.filecontrol-container button
{
  width: 250px;
    height: 45px;
    margin-top: 4px;
}

.fileuploader-contaner{
  margin:40px;
}

.margin-b-10{
  margin-bottom: 10px;
}

.margin-t-10{
  margin-top: 10px;
}

.textarea{
  width: 500px;
}
.textarea-container{
  width: 500px;
  margin-bottom: 40px;
}

canvas{
  z-index: 0;
}
.admin-card-container{
  position: fixed;
  z-index: 999;
}
.danger-footer{
  background-color: coral !important;
}

.admin-card-container .card-body{
 background-color: #ffffff85;
}

.admin-card-container .card{
  background-color: #ffffffc2;
}

.alert-warning {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.red-bg{
  background-color: #ff7f50ab;
  padding-left: 22px;
}

.green-bg {
  background-color: #66d597a1;
}

.remove-icon{
  color: red;
  background: red;
  float: right;
  height: 6px;
  width: 20px;
  margin-top: 9px;
  border: solid 1px;
}

.templateName{
  background: whitesmoke;
}

.toast-style{
  
    position: fixed;
    top: 0;
    right: 0;
    background: greenyellow !important;
}
body, * {
  margin:0;
  padding:0;
}

body {
  background-image: url('background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}